streamlit 
openai 
#llama-index 
nltk
PyPDF2==2.12.1
paddleocr>=2.0.1"
paddlepaddle
streamlit-aggrid
#psycopg2-binary
pandas
numpy
pillow
opencv-python-headless
gsheetsdb
gspread
pyparsing
boto3
s3fs
# Direct pypi install coming soon
git+https://github.com/streamlit/files-connection
